<div class="container">

  <% if flash["alert-success"] %>
    <div class="alert alert-success"><%= flash["alert-success"]%></div>
  <% end %>

  <% flash.each do |key,value|%>
    <div class="bg-<%= key %> flash-message"> <%= value %>  </div>
  <% end %>
  
  <div class="sign-in-wrapper">
    <h1>Login</h1>
    <div class="sign-in-form">

      <!--here we are being explicit with the destination URI-->
      <!--this ensures that params from our form is passed to the correct method-->
      <%= form_for @user,url: create_session_path do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, 'class' => 'form-control', 'placeholder' => 'example@metropost.la' %>
        <br/>
        <%= f.label :password %>
        <%= f.password_field :password, 'class' => 'form-control', 'placeholder' => 'password' %>
        <br/>

        <%= f.submit 'Login', 'class' => 'btn btn-primary' %>
      <% end%>
      <hr/>
    <p>New user? Create a <%= link_to 'new account', new_user_path, 'class' => 'btn btn-primary btn-xs' %></p>
    </div>
  </div>
</div>