
<div class="container">
  <h1> <%=	image_tag 'fav-icon.png' %> Favorite Lines</h1>
  <div class="fav-index-wrapper">
    <% @favorites.each do |favorite| %>
      <% if favorite[:user_id] == session[:user_id] %>
        <% case favorite[:line_id] %>
    <% when 1 %>
          <p>
            <%= image_tag 'blue-circle.png'%>
            801 Blue Line
          </p>
        <% when 2 %>
          <p>
            <%= image_tag 'red-circle.png'%>
            802 Red Line
          </p>
        <% when 3 %>
          <p>
            <%= image_tag 'green-circle.png'%>
            803 Green Line
          </p>
        <% when 4 %>
          <p>
            <%= image_tag 'gold-circle.png'%>
            804 Gold Line
          </p>
        <% when 5 %>
          <p>
            <%= image_tag 'purple-circle.png'%>
            805 Purple Line
          </p>
        <% when 6 %>
          <p>
            <%= image_tag 'expo-circle.png'%>
            806 Expo Line
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
