<div class="container">
  <h1> <%=	image_tag 'fav-icon.png' %> Add a favorite Line</h1>
  <div class="fav-index-wrapper">
      <%= form_for @favorite, url: create_favorite_path do |f| %>
        <%=	f.select(:line_id, [
                              ['Blue Line', '1'],
                              ['Red Line', '2'],
                              ['Green Line' ,'3'],
                              ['Gold Line', '4'],
                              ['Purple Line', '5'],
                              ['Expo Line', '6']
                              ]) %>

      <%=	f.submit 'submit', 'class' => 'btn btn-primary btn-xs' %>
    <% end %>
    </div>
  <% if flash["favorites-warning"] %>
    <div class="alert alert-warning"><%= flash["favorites-warning"]%></div>
  <% end %>

  </div>
</div>