<div class="container">

  <div class="new-comment-wrapper">
    <h1>Edit Post</h1>
    <div class="form-group new-comment-form">
      <%= form_for @comment do |f| %>
        <%=	f.label :user_id %>
        <%=	f.text_field :user_id, 'class' => 'form-control' %>
        <br/>
        <%=	f.label :comment_title %>
        <%=	f.text_field :comment_title, 'class' => 'form-control' %>
        <br/>
        <%=	f.label :comment_text %>
        <%=	f.text_area :comment_text, 'class' => 'form-control' %>
        <br/>
        <%= f.submit 'submit', 'class' => 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
</div>
