<div class="container">
  <h1><%=	image_tag 'post-icon.png' %> <%= @comment.comment_title %></h1>
  <div class="comment-wrapper">
    <p><%=	@comment.comment_text %></p>
  </div>
  <%=	link_to 'Edit', edit_comment_path(@comment), 'class' => 'btn btn-warning' %>
  <%=	link_to 'Delete', comment_path, method: :delete, data: { confirm: 'Are you sure?'}, 'class' => 'btn btn-danger'  %>
</div>