<div class="container">

  <% if flash["alert-warning"] %>
    <div class="alert alert-danger"><%= flash["alert-warning"]%></div>
  <% end %>

  <div class="sign-up-wrapper">

    <h1>Create Account</h1>

    <div class="form-group sign-up-form">

      <%= form_for @user do |f|%>
        <%= f.label :username %>
        <%= f.text_field :username, 'class' => 'form-control', 'placeholder' => 'Gandolf the Grey' %>
        <br/>
        <%= f.label :email %>
        <%= f.email_field :email, 'class' => 'form-control', 'placeholder' => 'example@metropost.la' %>
        <br/>
        <%= f.label :password %>
        <%= f.password_field :password, 'class' => 'form-control', 'placeholder' => 'password' %>
        <br/>
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, 'class' => 'form-control', 'placeholder' => 'confirm password' %>
        <br/>
        <%= f.submit 'Register', 'class' => 'btn btn-primary' %>
      <% end%>

    </div>
  </div>
</div>