<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=	link_to 'MetroPost', welcome_path, 'class' => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%=	link_to 'All Posts', comments_path %></li>
        <li><%=	link_to 'New Post', new_comment_path %></li>
        <li><%=	link_to 'Favorite Lines', favorites_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!--Toggle between the login and logout button links-->
        <!-- current_user is a helper method exposed by the application controller-->
        <% if current_user %>
          <%= link_to 'Logout', destroy_session_path, 'class' => 'btn btn-link navbar-btn pull-right' %>
          <div class="navbar-text navbar-right"> <%= @welcome_message %>  </div>
        <% else %>
          <%= link_to 'Sign Up', new_user_path, 'class' => 'btn btn-link navbar-btn pull-right' %>
          <%= link_to 'Login', new_session_path, 'class' => 'btn btn-link navbar-btn pull-right' %>
        <% end %>


        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

