<nav>
  <% if current_user %>
    <%= link_to 'Logout', destroy_session_path, 'class' => 'btn btn-danger pull-right' %>
  <% else %>
    <%= link_to 'Login', new_session_path, 'class' => 'btn btn-success pull-right' %>
  <% end %>
  <% flash.each do |key,value|%>
    <div class="<%= key %> pull-right"> <%= value %>  </div>
  <% end %>

</nav>
<div class="jumbotron">
  <h1>Welcome to Metro Post</h1>
  <p>Metro Post is a place to share information about the LA metro rail service.</p>
  <p> <%= link_to 'Sign Up', new_user_path, 'class' => 'btn btn-primary' %> </p>
</div>






