<nav>
  <!--Toggle between the login and logout button links-->
  <% if current_user %>
    <%= link_to 'Logout', destroy_session_path, 'class' => 'btn btn-link pull-right' %>
  <% else %>
    <%= link_to 'Login', new_session_path, 'class' => 'btn btn-link pull-right' %>
  <% end %>
  <% flash.each do |key,value|%>
    <div class="<%= key %> pull-right"> <%= value %>  </div>
  <% end %>

</nav>

<div class="jumbotron">

  <h1>Welcome to Metro Post</h1>
  <p>Metro Post is a place to share information about the LA metro rail service.</p>

  <!-- hide sign up button upon login -->
  <% unless current_user %>
    <p> <%= link_to 'Sign Up', new_user_path, 'class' => 'btn btn-primary' %> </p>
  <% end %>

</div>






